.main {
  margin-top: 36px;
  margin-bottom: 36px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  width: 1440px;
}

@media (max-width: 1000px) {
  .main {
    margin-top: 12px;
    margin-bottom: 12px;
    gap: 32px;
    max-width: 720px;
    padding: 12px;
  }
}
